# Załadowanie Danych

In [1]:
from IPython.display import display
import pandas as pd 

csv_input_path="TitanicMess.tsv"
csv_output_path="TitanicCleaned.tsv"
separator='\t'

df=pd.read_csv(csv_input_path, sep=separator)

sample_table=df.head(5).to_html()
display({'text/html': '<li>Przykładowe wiersze:' + sample_table}, raw=True)

df_size=len(df.index)
display({'text/html':'<li>Ilość wierszy:<br> <b>'+str(df_size)+'</b>'}, raw=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S,Titanic
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,"71,2833",C85,C,Titanic
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S,Titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S,Titanic
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S,Titanic

# Przegląd ilościowy danych

In [2]:
count_per_column=df.count()
count_per_column.name='Ilość wartości w kolumnie'
display(count_per_column.to_frame())

             Ilość wartości w kolumnie
PassengerId                        892
Survived                           892
Pclass                             892
Name                               892
Sex                                892
Age                                719
SibSp                              892
Parch                              892
Ticket                             892
Fare                               892
Cabin                              207
Embarked                           890
ship                               892

Po danych ilościowych widać, że około 80% wierszy nie ma uzupełnionej wartości w kolumnie Cabin. Wartość danych w tej kolumnie w perspektywie całego zbioru jest właściwie żadna dlatego zostaje usunięta ze zbioru.

# Usunięcie zbędnych kolumn w analizie

Usunięto kolumny: 
<br>
Cabin - zbyt dużo brakujących danych
<br>
Ship - wartość jest zawsze taka sama
<br>
Ticket - dane nie wnoszą żadnej wartości do analizy

In [3]:
#Jeśli nie chcesz usuwać żadnych kolumn pozostaw pustą tablicę, lub usuń tą część skryptu.
to_drop=['Cabin','Ticket','ship']
df=df.drop(columns=to_drop)
sample_table=df.head(5).to_html()
display({'text/html': '<li>Przykładowe wiersze po usunięciu kolumn:' + sample_table}, raw=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,"7,25",S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,"71,2833",C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,"7,925",S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,"53,1",S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,"8,05",S

# Weryfikacja i usunięcie duplikatów

In [4]:
duplicates=df[df.duplicated()]
duplicates_size=len(duplicates.index)
display({'text/html':'<li>Ilość usuniętych duplikatów:<br> <b>'+str(duplicates_size)+'</b>'}, raw=True)

df=df.drop_duplicates()

df_size=len(df.index)
display({'text/html':'<li>Ilość wierszy po usunięciu duplikatów:<br> <b>'+str(df_size)+'</b>'}, raw=True)

# Obsłużenie brakujących/błędnych wartości wartości

W przypadku brakujących wartości wiersze zostaną usunięte.
Dla kolumny Age występują wartości ujemne i cząstkowe wieku, lub powyżej 150. Takie dane zostaną potrakotawane jako brakujące ponieważ nie da się jednoznacznie określić jaki miał być wynik.

In [5]:
#Weryfikacja czy kolumnie wiek wiersz posiada tylko cyfry.
df['Age']=df['Age'].apply(lambda x: str(x) if str(x).isdigit() and int(x) < 150 else None)
df=df.dropna()

sample_table=df.head(1000).to_html()
display({'text/html': '<li>Przykładowe wiersze po usunięciu wierszy z pustymi / błędnymi danymi:' + sample_table}, raw=True)

df_size=len(df.index)
display({'text/html':'<li>Ilość wierszy po usunięciu ze zbioru wierszy z pustymi / błędnymi danymi:<br> <b>'+str(df_size)+'</b>'}, raw=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,"7,25",S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,"71,2833",C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,"7,925",S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,"53,1",S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,"8,05",S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,"51,8625",S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,"21,075",S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,"11,1333",S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,"30,0708",C
10,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,"16,7",S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,"26,55",S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,"8,05",S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,"7,8542",S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,16,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,"29,125",Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,18,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,26,S
21,22,1,2,"Beesley, Mr. Lawrence",malef,34,0,0,13,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,"8,0292",Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,"21,075",S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,"31,3875",S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,263,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,"27,7208",C
33,34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,"10,5",S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,"82,1708",C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,52,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,"8,05",S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,18,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,"11,2417",C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,"9,475",S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,21,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,"41,5792",C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,"7,8792",Q
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,"17,8",S
50,51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,"39,6875",S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,"7,8",S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,"76,7292",C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,26,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,"61,9792",C
56,57,1,2,"Rugg, Miss. Emily",female,21,0,0,"10,5",S
58,59,1,2,"West, Miss. Constance Mirium",female,5,1,2,"27,75",S
59,60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,"46,9",S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,"7,2292",C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,"83,475",S
63,64,0,3,"Skoog, Master. Harald",male,4,3,2,"27,9",S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,"10,5",S
67,68,0,3,"Crease, Mr. Ernest James",male,19,0,0,"8,1583",S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,"7,925",S
69,70,0,3,"Kink, Mr. Vincenz",male,26,2,0,"8,6625",S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,"10,5",S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,"46,9",S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,"73,5",S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,"14,4542",C
74,75,1,3,"Bing, Mr. Lee",male,32,0,0,"56,4958",S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,"7,65",S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,"12,475",S
80,81,0,3,"Waelens, Mr. Achille",male,22,0,0,9,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,"9,5",S
83,84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,"47,1",S
84,85,1,2,"Ilett, Miss. Bertha",female,17,0,0,"10,5",S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,"15,85",S
86,87,0,3,"Ford, Mr. William Neal",male,16,1,3,"34,375",S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,263,S
89,90,0,3,"Celotti, Mr. Francesco",male,24,0,0,"8,05",S
90,91,0,3,"Christmann, Mr. Emil",male,29,0,0,"8,05",S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,"7,8542",S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,"61,175",S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,"20,575",S
94,95,0,3,"Coxon, Mr. Daniel",male,59,0,0,"7,25",S
96,97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,"34,6542",C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,"63,3583",C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,23,S
99,100,0,2,"Kantor, Mr. Sinai",male,34,1,0,26,S
100,101,0,3,"Petranec, Miss. Matilda",female,28,0,0,"7,8958",S
102,103,0,1,"White, Mr. Richard Frasar",male,21,0,1,"77,2875",S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,"8,6542",S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,"7,925",S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,"7,8958",S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,"7,65",S
108,109,0,3,"Rekic, Mr. Tido",male,38,0,0,"7,8958",S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,52,S
112,113,0,3,"Barton, Mr. David John",male,22,0,0,"8,05",S
113,114,0,3,"Jussila, Miss. Katriina",female,20,1,0,"9,825",S
114,115,0,3,"Attalah, Miss. Malake",female,17,0,0,"14,4583",C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,"7,925",S
117,118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,21,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,"247,5208",C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,"31,275",S
120,121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,"73,5",S
124,125,0,1,"White, Mr. Percival Wayland",male,54,0,1,"77,2875",S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,"11,2417",C
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,"7,1417",S
129,130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,"6,975",S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,"7,8958",C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,"7,05",S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,"14,5",S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,26,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,13,S
135,136,0,2,"Richard, Mr. Emile",male,23,0,0,"15,0458",C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,"26,2833",S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,"53,1",S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,"9,2167",S
139,140,0,1,"Giglio, Mr. Victor",male,24,0,0,"79,2",C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,"7,75",S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,"15,85",S
143,144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,"6,75",Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,"11,5",S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,"36,75",S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,"7,7958",S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,"34,375",S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,13,S
150,151,0,2,"Bateman, Rev. Robert James",male,51,0,0,"12,525",S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,"66,6",S
155,156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,"61,3792",C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,"7,7333",Q
157,158,0,3,"Corn, Mr. Harry",male,30,0,0,"8,05",S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,"16,1",S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,"15,75",S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,"7,775",S
163,164,0,3,"Calic, Mr. Jovo",male,17,0,0,"8,6625",S
164,165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,"39,6875",S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,"20,525",S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,"27,9",S
169,170,0,3,"Ling, Mr. Lee",male,28,0,0,"56,4958",S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,"33,5",S
171,172,0,3,"Rice, Master. Arthur",male,4,4,1,"29,125",Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,"11,1333",S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,"7,925",S
174,175,0,1,"Smith, Mr. James Clinch",male,56,0,0,"30,6958",C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,"7,8542",S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,"28,7125",C
178,179,0,2,"Hale, Mr. Reginald",male,30,0,0,13,S
179,180,0,3,"Leonard, Mr. Lionel",male,36,0,0,0,S
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,"31,3875",S
183,184,1,2,"Becker, Master. Richard F",male,1,2,1,39,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,"22,025",S
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,"26,55",S
188,189,0,3,"Bourke, Mr. John",male,40,1,1,"15,5",Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,"7,8958",S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,13,S
191,192,0,2,"Carbines, Mr. William",male,19,0,0,13,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,"7,8542",S
193,194,1,2,"Navratil, Master. Michel M",male,3,1,1,26,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,"27,7208",C
195,196,1,1,"Lurette, Miss. Elise",female,58,0,0,"146,5208",C
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,"8,4042",S
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,13,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,"9,5",S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,"6,4958",S
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,"8,05",S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,"10,4625",S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,"15,85",S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,"18,7875",C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,"7,75",Q
209,210,1,1,"Blank, Mr. Henry",male,40,0,0,31,C
210,211,0,3,"Ali, Mr. Ahmed",male,24,0,0,"7,05",S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,21,S
212,213,0,3,"Perkin, Mr. John Henry",male,22,0,0,"7,25",S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,13,S
215,216,1,1,"Newell, Miss. Madeleine",female,31,1,0,"113,275",C
216,217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,"7,925",S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,27,S
218,219,1,1,"Bazzani, Miss. Albina",female,32,0,0,"76,2917",C
219,220,0,2,"Harris, Mr. Walter",male,30,0,0,"10,5",S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,"8,05",S
221,222,0,2,"Bracken, Mr. James H",male,27,0,0,13,So
222,223,0,3,"Green, Mr. George Henry",male,51,0,0,"8,05",S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,90,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,"9,35",S
226,227,1,2,"Mellors, Mr. William John",male,19,0,0,"10,5",S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,13,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,"83,475",S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,"7,775",S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,"13,5",S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,"31,3875",S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,"10,5",S
236,237,0,2,"Hold, Mr. Stephen",male,44,1,0,26,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,"26,25",S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,"10,5",S
239,240,0,2,"Hunt, Mr. George Henry",male,33,0,0,"12,275",S
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,"10,5",S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,"7,125",S
244,245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,"7,225",C
245,246,0,1,"Minahan, Dr. William Edward",male,44,2,0,-90,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,"7,775",S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,"14,5",S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,"52,5542",S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,26,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,"10,4625",S
252,253,0,1,"Stead, Mr. William Thomas",male,62,0,0,"26,55",S
253,254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,"16,1",S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,"20,2125",S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,"15,2458",C
257,258,1,1,"Cherry, Miss. Gladys",female,30,0,0,"86,5",S
258,259,1,1,"Ward, Miss. Anna",female,35,0,0,"512,3292",C
259,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,26,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,"31,3875",S
262,263,0,1,"Taussig, Mr. Emil",male,52,1,1,"79,65",S
263,264,0,1,"Harrison, Mr. William",male,40,0,0,0,S
265,266,0,2,"Reeves, Mr. David",male,36,0,0,"10,5",S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,"39,6875",S
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,"7,775",S
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,"153,4625",S
269,270,1,1,"Bissette, Miss. Amelia",female,35,0,0,"135,6333",S
271,272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,0,S
272,273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,"19,5",S
273,274,0,1,"Natsch, Mr. Charles H",male,37,0,1,"29,7",C
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,"77,9583",S
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,"7,75",S
278,279,0,3,"Rice, Master. Eric",male,7,4,1,"29,125",Q
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35,1,1,"20,25",S
280,281,0,3,"Duane, Mr. Frank",male,65,0,0,"7,75",Q
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28,0,0,"7,8542",S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16,0,0,"9,5",S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19,0,0,"8,05",S
285,286,0,3,"Stankovic, Mr. Ivan",male,33,0,0,"8,6625",C
286,287,1,3,"de Mulder, Mr. Theodore",male,30,0,0,"9,5",S
287,288,0,3,"Naidenoff, Mr. Penko",male,22,0,0,"7,8958",S
288,289,1,2,"Hosono, Mr. Masabumi",male,42,0,0,13,S
289,290,1,3,"Connolly, Miss. Kate",female,22,0,0,"7,75",Q
290,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26,0,0,"78,85",S
291,292,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19,1,0,"91,0792",C
292,293,0,2,"Levy, Mr. Rene Jacques",male,36,0,0,"12,875",C
293,294,0,3,"Haas, Miss. Aloisia",female,24,0,0,"8,85",S
294,295,0,3,"Mineff, Mr. Ivan",male,24,0,0,"7,8958",S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2,1,2,"151,55",S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50,0,1,"247,5208",C
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19,0,0,0,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)",female,17,1,0,"108,9",C
308,309,0,2,"Abelson, Mr. Samuel",male,30,1,0,24,C
309,310,1,1,"Francatelli, Miss. Laura Mabel",female,30,0,0,"56,9292",C
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24,0,0,"83,1583",C
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18,2,2,"262,375",C
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26,1,1,26,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28,0,0,"7,8958",S
314,315,0,2,"Hart, Mr. Benjamin",male,43,1,1,"26,25",S
315,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26,0,0,"7,8542",S
316,317,1,2,"Kantor, Mrs. Sinai (Miriam Sternin)",female,24,1,0,26,S
317,318,0,2,"Moraweck, Dr. Ernest",male,54,0,0,14,S
318,319,1,1,"Wick, Miss. Mary Natalie",female,31,0,2,"164,8667",S
319,320,1,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)",female,40,1,1,"134,5",C
320,321,0,3,"Dennis, Mr. Samuel",male,22,0,0,"7,25",S
321,322,0,3,"Danoff, Mr. Yoto",male,27,0,0,"7,8958",S
322,323,1,2,"Slayter, Miss. Hilda Mary",female,30,0,0,"12,35",Q
323,324,1,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)",female,22,1,1,29,S
325,326,1,1,"Young, Miss. Marie Grice",female,36,0,0,"135,6333",C
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61,0,0,"6,2375",S
327,328,1,2,"Ball, Mrs. (Ada E Hall)",female,36,0,0,13,S
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31,1,1,"20,525",S
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16,0,1,"57,9792",C
332,333,0,1,"Graham, Mr. George Edward",male,38,0,1,"153,4625",S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16,2,0,18,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29,1,0,"66,6",S
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41,0,0,"134,5",C
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45,0,0,"8,05",S
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45,0,0,"35,5",S
340,341,1,2,"Navratil, Master. Edmond Roger",male,2,1,1,26,S
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24,3,2,263,S
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28,0,0,13,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25,0,0,13,S
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36,0,0,13,S
345,346,1,2,"Brown, Miss. Amelia ""Mildred""",female,24,0,0,13,S
346,347,1,2,"Smith, Miss. Marion Elsie",female,40,0,0,13,S
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3,1,1,"15,9",S
349,350,0,3,"Dimic, Mr. Jovan",male,42,0,0,"8,6625",S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23,0,0,"9,225",S
352,353,0,3,"Elias, Mr. Tannous",male,15,1,1,"7,2292",C
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25,1,0,"17,8",S
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28,0,0,"9,5",S
356,357,1,1,"Bowerman, Miss. Elsie Edith",female,22,0,1,55,S
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38,0,0,13,S
360,361,0,3,"Skoog, Mr. Wilhelm",male,40,1,4,"27,9",S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29,1,0,"27,7208",C
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45,0,1,"14,4542",C
363,364,0,3,"Asim, Mr. Adola",male,35,0,0,"7,05",S
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30,0,0,"7,25",S
366,367,1,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60,1,0,"75,25",C
369,370,1,1,"Aubart, Mme. Leontine Pauline",female,24,0,0,"69,3",C
370,371,1,1,"Harder, Mr. George Achilles",male,25,1,0,"55,4417",C
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18,1,0,"6,4958",S
372,373,0,3,"Beavan, Mr. William Thomas",male,19,0,0,"8,05",S
373,374,0,1,"Ringhini, Mr. Sante",male,22,0,0,"135,6333",C
374,375,0,3,"Palsson, Miss. Stina Viola",female,3,3,1,"21,075",S
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22,0,0,"7,25",S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27,0,2,"211,5",C
378,379,0,3,"Betros, Mr. Tannous",male,20,0,0,"4,0125",C
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19,0,0,"7,775",S
380,381,1,1,"Bidois, Miss. Rosalie",female,42,0,0,"227,525",C
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1,0,2,"15,7417",C
382,383,0,3,"Tikkanen, Mr. Juho",male,32,0,0,"7,925",S
383,384,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline Towner)",female,35,1,0,52,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18,0,0,"73,5",S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1,5,2,"46,9",S
387,388,1,2,"Buss, Miss. Kate",female,36,0,0,13,S
389,390,1,2,"Lehmann, Miss. Bertha",female,17,0,0,12,C
390,391,1,1,"Carter, Mr. William Ernest",male,36,1,2,120,S
391,392,1,3,"Jansson, Mr. Carl Olof",male,21,0,0,"7,7958",S
392,393,0,3,"Gustafsson, Mr. Johan Birger",male,28,2,0,"7,925",S
393,394,1,1,"Newell, Miss. Marjorie",female,23,1,0,"113,275",C
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)",female,24,0,2,"16,7",S
395,396,0,3,"Johansson, Mr. Erik",male,22,0,0,"7,7958",S
396,397,0,3,"Olsson, Miss. Elina",female,31,0,0,"7,8542",S
397,398,0,2,"McKane, Mr. Peter David",male,46,0,0,26,S
398,399,0,2,"Pain, Dr. Alfred",male,23,0,0,"10,5",S
399,400,1,2,"Trout, Mrs. William H (Jessie L)",female,28,0,0,"12,65",S
400,401,1,3,"Niskanen, Mr. Juha",male,39,0,0,"7,925",S
401,402,0,3,"Adams, Mr. John",male,26,0,0,"8,05",S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21,1,0,"9,825",S
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28,1,0,"15,85",S
404,405,0,3,"Oreskovic, Miss. Marija",female,20,0,0,"8,6625",S

Weryfikacja wartości słownikowych dla kolumn:<br>
<li>Sex<br>
<li>Embarked<br>
Ujednolicenie błędnych wartości (literówek)

In [8]:

print('Otrzymane wartości SEX:')
print(df['Sex'].unique())

print('\n Otrzymane wartości EMBARKED:')
print(df['Embarked'].unique())

df['Sex']=df['Sex'].apply(lambda x: 'male' if x.startswith('m') else 'female' if  x.startswith('f') else None)
df['Embarked']=df['Embarked'].apply(lambda x: x[:1])

print('\n Poprawione wartości: SEX:')
print(df['Sex'].unique())

print('\n Poprawione wartości EMBARKED:')
print(df['Embarked'].unique())

Otrzymane wartości SEX:
['male' 'female']

 Otrzymane wartości EMBARKED:
['S' 'C' 'Q']

 Poprawione wartości: SEX:
['male' 'female']

 Poprawione wartości EMBARKED:
['S' 'C' 'Q']

# Zapis do pliku

In [9]:
df.to_csv(csv_output_path, sep=separator)